html {
  background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);
  height: 200%;
}

/* 테이블 전체 스타일 */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

/* 테이블 헤더 스타일 */
thead {
  background-color: #f2f2f2;
}

/* 테이블 헤더 셀 스타일 */
th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ccc;
  color: #333;
}

/* 테이블 내용 셀 스타일 */
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* 짝수 행 배경색 스타일 */
tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* 홀수 행 배경색 스타일 */
tbody tr:nth-child(odd) {
  background-color: #fff;
}

/* 링크 스타일 */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 마우스 호버 시 행 배경색 스타일 */
tbody tr:hover {
  background-color: #e0f2fe;
}

/* 테이블 마지막 행 스타일 */
tbody tr:last-child {
  border-bottom: 2px solid #ccc;
}

label {
  display:inline-flex;
  align-items:center;
  gap:10px;
  margin:5px 0;
  cursor: pointer;
  font-size: 30px;
}

h1,
p,
button {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: #fff;

}

h1 {
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 50px;
  line-height: 1.6em;
}

p {
  font-size: 1.1em;
  text-align: center;
  margin: 110px auto 20px;
  letter-spacing: 0.05em;
}

.container {
  text-align: center;
  position: relative;
  width: 300px;
  margin: 0 auto;
  
}
.icon-heading {
  display: flex;
  align-items: center;
}

.icon-heading i {
  margin: 0 10px;
  font-size: 24px;
}
.icon-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 123, 255, 0);
  color: white;
  border: none;
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.icon-button img {
  max-width: 100%; /* 이미지 크기 조절 */
  height: auto;
  vertical-align: center;
}


button {
  position: relative;
  height: 50px;
  width: 280px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  z-index: 0;

}

.button-one {
  cursor : pointer;
}

.button-two {
  cursor : pointer;
}

.fill-one {
  position: absolute;
  background-image: linear-gradient(to right, #E040FB, #00BCD4);
  height: 70px;
  width: 420px;
  border-radius: 5px;
  margin: -40px 0 0 -140px;
  z-index: -1;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container-one:hover .fill-one {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  transform: translateX(100px);
}

.fill-two {
  position: absolute;
  background-image: linear-gradient(to right, #E040FB, #00BCD4);
  background-size: 150% 150%;
  height: 70px;
  width: 420px;
  border-radius: 5px;
  margin: -40px 0 0 -140px;
  z-index: -1;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container-two:hover .fill-two {
  -webkit-animation: gradient 3s ease infinite;
  -moz-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}