@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

/* 기본 틀 설정 */
html {
  font-size: 2vh;
}

body {
  display: flex;
  padding: 0 calc(50% - 450px) !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Lato, sans-serif;
  overflow: hidden;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.4);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #25c483;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
  border-color: gray;
  transition: background-color 0.3s;
  border-style: solid;
}


/* 실행 시 애니매이션 */
.exp-image > img, .exp-card, .exp-details, .exp-location, .exp-main, .exp-header {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* 제목 부분 */
.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh; 
  color: white;
  font-size: 16px;
}

.headers img {
  width: 250px; /* 로고 크기 조절 */
  height: 100px; 
}


/* 전체 양식 설정 */
#explore {
  height: 96vh;
  width: 54vh;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  overflow: hidden;
}

.container {
  height: calc(100% - 18vh);
  transform: translateY(9vh);
  position: absolute;
  width: 100%;
}

/* 추천 메인 버튼 설정 */
.exp-location {
  position: absolute;
  left: 0;
  top: 0;
  height: 96vh;
  width: 100%;
  transform-origin: 50% 50%;
}
.exp-location > .exp-details {
  opacity: 0.8;
}
.exp-location > .exp-image {
  pointer-events: none;
  transform: translateY(calc(3.3vh));
}
.exp-location:nth-child(1) {
  transform: scale(0.9);
}
.exp-location:nth-child(1) > .exp-details {
  transform: translateY(calc(6vh)) translateX(0);
}
.exp-location:nth-child(1) .exp-card.-title {
  background-color: #25c481;
  box-shadow: 2px 2px grey;
  transform-origin: left 50%;
}
.exp-location:nth-child(2) {
  transform: scale(0.9) translateY(39vh);
}
.exp-location:nth-child(2) > .exp-details {
  transform: translateY(calc(6vh)) translateX(calc(27vh));
}
.exp-location:nth-child(2) .exp-card.-title {
  background-color: #25b7c4;
  transform-origin: right 50%;
  box-shadow: -2px -2px grey;
}
.exp-details {
  position: absolute;
  top: 0;
  left: 0;
}
.exp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 27vh;
  height: 27vh;
  padding: 2rem;
  text-decoration: none;
}
.exp-card.-title {
  z-index: 2;
  color: white;
  transform: scale(1.3);
}
.exp-card.-info {
  background-color: white;
}
.exp-card.-info > * {
  transform: translateY(1rem);
  opacity: 0;
}
.exp-card.-info > .subheading {
  color: #999;
}
.exp-image {
  width: 100%;
  height: 32.4vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.exp-image > img {
  width: 100%;
}
.heading {
  font-size: 200%;
  font-weight: 400;
}
.heading:first-child {
  margin-top: 0;
}
.heading.-h2 {
  margin-bottom: 0.5rem;
}
.subheading {
  font-size: 115%;
  font-weight: 300;
}

/* pulse 애니메이션 설정 */
.route:target ~ #explore .exp-location > .exp-image[href]:before, .exp-card.-title:before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0.5rem solid white;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  -webkit-animation: pulse 1.5s 3s infinite;
          animation: pulse 1.5s 3s infinite;
  pointer-events: none;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    transform: scale(1);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, to {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25% {
    transform: scale(1);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, to {
    transform: scale(1.2);
    opacity: 0;
  }
}
.meta {
  flex-basis: calc(80% - 54vh);
  font-size: 1.2rem;
  font-weight: 300;
}
.meta p, .meta a {
  color: white;
}
.meta h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
  color: white;
}
.meta p {
  line-height: 1.4;
}
.meta a:hover {
  color: white;
}
@media (max-width: 750px) {
  .meta {
    display: none;
  }
}


/* 테이블 */
/* 테이블 전체 스타일 */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

/* 테이블 헤더 셀 스타일 */
th {
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  color: #333;
}

/* 테이블 내용 셀 스타일 */
td {
  padding: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* 짝수 행 배경색 스타일 */
tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* 홀수 행 배경색 스타일 */
tbody tr:nth-child(odd) {
  background-color: #fff;
}

/* 마우스 호버 시 행 배경색 스타일 */
tbody tr:hover {
  background-color: #e0f2fe;
}

/* 테이블 마지막 행 스타일 */
tbody tr:last-child {
  border-bottom: 2px solid #ccc;
}


/* 링크 스타일 */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* 라디오 버튼 양식 설정 */
input[type=radio] {
  --s: 13px;     /* control the size */
  --c: #009688; /* the active color */
  display: inline-flex;
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: 
     radial-gradient(farthest-side,var(--c) 94%,#0000) 
     50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=radio]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type=radio]:disabled {
  background: 
     linear-gradient(#939393 0 0) 
     50%/100% 20% no-repeat content-box;
  opacity: .5;
  cursor: not-allowed;
}

@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}

label {
  display:inline-flex;
  align-items:center;
  cursor: pointer;
  font-size: 30px;
}

#radioButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#radioButtonContainer option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#radioButtonContainer label {
  font-size: 16px; /* 원하는 글씨 크기로 조정 */
  color: white  ;    /* 흰색으로 설정 */
  margin-bottom: 5px;
  margin-left: 5px;
}

*, *:before, *:after {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  position: relative;
}