body{
    width: 380px;
    height: 500px;
    background-color: #64a8ff;  
    display: flex;        /* Flexbox 레이아웃 사용 */
    flex-direction: column;/* 세로 방향 배치 */
    align-items: center;   /* 가로 중앙 정렬 */
    justify-content: center;/* 세로 중앙 정렬 */
}

#general{
    width: 100%;
}

#recommend{
    width: 100%;
}
div {
    margin: 50px;          /* 버튼 사이의 간격 */
}