body {
  width : 380px;
  position: relative; 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.ESG-header{
  border-bottom: 1px solid #dae1e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  height: 48px;
  box-sizing: border-box;
}

.ESG-icon-logo {
  width: 56px;
  height: 24px;
  background-image: url(./images/logo.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.ESG-actions{
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
.ESG-setting{
  width: 19px;
  height: 19px;
  background-image: url(./images/setIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
.ESG-actions button.ESG-setting{
  border: 0 none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
.ESG-menu-container{
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease-in-out;
}
.ESG-menu-container .ESG-menu-icon-wrapper{
  display: flex;
  align-items: center;
}
.ESG-menu-container button.ESG-menu-icon{
  background-image: url(./images/menu-icon.png);
}
.ESG-menu-icon-wrapper .ESG-menu-icon{
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease-in-out;
}

.container {
  text-align: center;
  position: relative;
  margin: 0 0;
  display: flex;
  justify-content: center;
}
.result-container {
  align-items: center; /* 세로 중심을 맞춤 */
  margin: 24px 32px;
}

.item-container{
  width: 280px;
}

#item-name{
  font-weight: bold;
}


#item-img{
  cursor: pointer;
}

.item-ESGscore{
  text-align: left;
  padding-left: 8px;
}

.item-features{
  text-align: left;
  padding-left: 8px;
}

#left-button{
  position: absolute;
  top: 99px; /* 세로 위치 지정 */
  left: 0; /* 가로 위치를 부모 요소의 가운데로 설정 */
  border: 0 none;
  width: 32px;
  height: 32px;
  background-image: url(./images/left-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

#right-button{
  position: absolute;
  top: 99px; /* 세로 위치 지정 */
  right: 0; /* 가로 위치를 부모 요소의 가운데로 설정 */
  border: 0 none;
  width: 32px;
  height: 32px;
  background-image: url(./images/right-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}


.icon-heading {
  border-bottom: 1px solid #dae1e8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  height: 48px;
  box-sizing: border-box;
}

.icon-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px auto;
  width: 100%;
}

.icon1-container{
  width: 50%;
}

.icon2-container{
  width: 50%;
}

#icon1Recommendation{
  background-image: url(./images/icon1.png);
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  height: 128px;
  width: 128px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease-in-out;
  background-size: contain;
  margin: 10px;
}

#icon2Recommendation{
  background-image: url(./images/icon2.png);
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  height: 128px;
  width: 128px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease-in-out;
  background-size: contain;
  margin: 10px;
}
.icon1-title{
  margin: 0;
  color: #006494;
  font-weight: 600;
}

.icon2-title{
  margin: 0;
  color: #006494;
  font-weight: 600;
}
.icon1-description{
  padding: 10px 30px;
  text-align: left;
}
.icon2-description{
  padding: 10px 30px;
  text-align: left;
}

.button-one {
  cursor : pointer;
}

.button-two {
  cursor : pointer;
}

.fill-one {
  position: absolute;
  height: 70px;
  width: 420px;
  border-radius: 5px;
  margin: -40px 0 0 -140px;
  z-index: -1;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container-one:hover .fill-one {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  transform: translateX(100px);
}

.fill-two {
  position: absolute;
  background-size: 150% 150%;
  height: 70px;
  width: 420px;
  border-radius: 5px;
  margin: -40px 0 0 -140px;
  z-index: -1;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container-two:hover .fill-two {
  -webkit-animation: gradient 3s ease infinite;
  -moz-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

.fit-recommend-container{
  margin: 10px auto;
}

#radioButtonContainer{
  margin-top: 10px;
}

#makeResultContainer{
  margin-top: 30px;
}

#makePersonalizedRecommendation{
  background-color: #009000;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
}

#backContainer{
  margin-top: 24px;
}

#backButton{
  background-color: #009000;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
}

#navbar {
  width: 100%;
  height: 48px;
  margin: 0 0;
}

.home-page {
  width: 33%;
  height: auto;
  cursor:pointer;
  display: flex;
  justify-content: center;
}

.search-page {
  width: 33%;
  height: auto;
  cursor:pointer;
  display: flex;
  justify-content: center;
}

.mine-page {
  width: 33%;
  height: auto;
  cursor:pointer;
  display: flex;
  justify-content: center;
}

.box {
  width: 100%;
  height: 48px;
  background-color: inherit;
  display: flex;
  align-items: center;
  border-top: 1px solid #dae1e8;
}


.input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
}

#submitButton{
  margin-top: 10px;
  margin-bottom: 10px;
}